/* Search Bar dans equipe */
  /*.search-container input[type=text] {
    /*padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  */
  .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    background: #8b8989;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  /* Elemtents de la page */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #0d0d0d;
  }
  
  ul li {
    margin-bottom: 10px;
  }

  h3 {
    color: #000;
  }
  
  ul a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
  }
  a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
  }
  a:hover {
    color: #cfcccc; 
  }
  
  ul a:hover {
    color: #aeacac; 
  }

  p{
    color: rgb(0, 0, 0);
  }


  /* Image du background */
  .Background_info{
    background-color: #ffffff;
  }




  /* Image du  Stats Perso FIFA*/
  .img_FiFa {
    width: 300px; 
    height: 200px; 
    display: flex;
  }


.FIFA {
    background-image: url(images/Soccer_home.jpeg) ;
    display: flex;
}




/* La bulle blue dans Match*/
.bubble {
  background-color: #0de22d;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* La bulle blue dans Information Personelle */
.bubble2 {
  background-color: #3498db; 
  color: rgb(255, 255, 255); 
  border-radius: 20px; 
  padding: 10px 20px; 
  margin-bottom: 10px; 
}

.rounded-grid .col {
  border-radius: 50%;
  overflow: hidden; 
}

/* Design Personal Stats*/

.parent{
  position: relative;
  width: 500px;
}
.img{
 width:500px;
}
.top-left{
  position: absolute;
  left:0;
  top:0;
}
.top-right{
  position: absolute;
  right:0;
  top:0;
}
.bottom-left{
  position: absolute;
  left:0;
  bottom:0;
}
.bottom-right{
  position: absolute;
  right:0;
  bottom:0;
}


/* Search Bar*/
.search-wrapper{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;

}

.card{
  border: 1px solid black;
  background-color: rgb(252, 252, 252);
  padding: .5rem;
}

.card >.header{
  margin-bottom: .25rem;
} 


.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display:none;
}